* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blueviolet;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}

#fullbox {
  position: relative;
  top: 150px;
}

#heading {
  font-weight: 600;
  color: rgb(233, 17, 17);
  text-align: center;
  margin-bottom: 15px;


}

#box {
  color: black;
  width: 500px;
  border: 2px solid black;
  background-color: rgb(223, 238, 21)
}

.input {
  width: 90%;
  padding: 5px;
  margin-left: 20px;
  margin-top: 10px;

}

#box>h2 {
  margin-top: 10px;
  text-align: center;
  color: rgb(14, 85, 43);
}

#ans {
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}